<p class="my-1">
  <%= link_to user_path(current_user.id) do %>
    <strong><%= current_user.name %></strong>
  <% end %>
</p>

<p>
  <span class="badge badge-secondary">
    <%= current_user.elo %>
  </span>
</p>

<% if current_user.image.url %>
  <%= image_tag(current_user.image.url, class: 'w-50 rounded-circle') %>
<% else %>
  <%= image_tag 'anonymous.png', class: 'border border-secondary rounded-circle w-50' %>
<% end %>

<p class="my-1">
  <%= link_to '/sync', class: 'btn btn-outline-info my-1' do %>
    <%= image_tag 'refresh.png' %>
  <% end %>
</p>

<p>
  <%= current_user.posts.count %> posts
</p>
