<div class="row">

  <div class="col-sm-4 text-center">

    <% if current_user %>
      <%= render partial: "layouts/user_panel" %>
    <% end %>

  </div>

  <div class="col-sm-8">

    <% if current_user %>
      <%= form_with scope: :post, url: posts_path, id: 'post-form' do |f| %>
        <div class="form-group text-center">
          <%= f.text_area :content, class: 'form-control', autocomplete: 'off' %>
          <%= f.submit 'Postar', id: 'post-button',class: 'btn btn-sm btn-block btn-primary' %>
        </div>
      <% end %>
    <% else %>

      <p class="text-center my-2">Faça <%= link_to 'login', new_user_session_path %> para poder postar.</p>

    <% end %>

    <div id="new-post-alert">
    </div>

    <div id="posts">
      <%= render @posts %>
    </div>

    <div id="carregar-mais" class="my-4 text-center">
      <%= link_to_next_page @posts, 'Carregar mais posts', remote: true, id: "load_more_link" %>
    </div>

  </div>

</div>
