<div class="row">
  <div class="col-md-6 offset-md-3">

    <hr>

    <%=
      link_to(
        user_facebook_omniauth_authorize_path,
        class: 'btn btn-lg btn-block btn-light'
        ) do
    %>
      <%= image_tag 'facebook.png' %> Entre com Facebook
    <% end %>

    <hr>
    <div class="text-center">ou pelo login tradicional:</div>

    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="field form-group form-check">
      <%= f.check_box :remember_me, class:'form-check-input' %>
      <%= f.label :remember_me, 'Me manter logado' %>
    </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-primary' %>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
