<div class="card my-1">
  <div class="card-body p-3">
    <% if post.user.image.url %>
      <%= image_tag(post.user.image.url, id: 'post-photo', class: 'mr-2 rounded-circle float-left w-25') %>
    <% else %>
      <%= image_tag 'anonymous.png', id: 'post-photo', class: 'mr-2 border border-secondary rounded-circle float-left w-25' %>
    <% end %>

    <p>
      <%= link_to user_path(post.user_id) do %>
        <strong><%= post.user.name %></strong>
      <% end %>
      <span class="badge badge-secondary"><%= post.user.elo %></span> -
      <span class="text-muted">
        <%= time_ago_in_words(post.created_at) %> ago
      </span>
    </p>
    <p class="card-text"><%= post.content %></p>
  </div>
</div>
