<div class="card my-1">
  <div class="card-body p-3">

    <% if post.user.image.url %>
    <%= image_tag(post.user.image.url, id: 'post-photo', class: 'mr-2 rounded-circle float-left w-25') %>
    <% else %>
    <%= image_tag 'anonymous.png', id: 'post-photo', class: 'mr-2 border border-secondary rounded-circle float-left w-25' %>
    <% end %>

    <p class="m-0">
      <%= link_to user_path(post.user_id) do %>
        <strong><%= post.user.name %></strong>
      <% end %>
      <span class="badge badge-secondary"><%= post.user.elo %></span> -
      <%= link_to post_path(post.id) do %>
        <span class="text-muted">
          <%= time_ago_in_words(post.created_at) %> ago
        </span>
      <% end %>
    </p>

    <% if post.parent %>
      <%= link_to post_path(post.parent) do %>
        <p class="text-muted m-0">
          <em><small>- em resposta à</small></em>
        </p>
      <% end %>
    <% end %>

    <p class="card-text">
      <%= post.content %>
      <% if post.user == current_user %>
        <%= link_to 'X', post_path(post),
                class: 'float-right btn btn-sm btn-danger',
                method: :delete,
                data: { confirm: 'Tem certeza?' } %>
      <% end %>
    </p>

  </div>
</div>
