<div class="row">

  <div class="col-sm-4 text-center">

    <%= render "users/current_user"  %>

  </div>

  <div class="col-sm-8">

    <div id="selected-post">
      <%= render @post %>
    </div>

    <div id="reply-box">
      <%= form_with model: @new_post, url: posts_path, id: 'post-form' do |f| %>
        <%= f.hidden_field :parent_id, value: @post.id %>
        <div class="form-group text-center">
          <%= f.text_area :content, class: 'form-control', autocomplete: 'off' %>
          <%= f.submit 'Responder', id: 'post-button',class: 'btn btn-sm btn-block btn-primary' %>
        </div>
      <% end %>
    </div>

    <div id="replies" class="mb-4">
      <h5>Respostas</h5>

      <%= render @post.children %>

    </div>

  </div>

</div>
