<nav class="navbar px-2 py-0 navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand mr-2" href="/"><%= image_tag 'logo-sk.png', height: '45' %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filtrar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/challenger">Challenger</a>
          <a class="dropdown-item" href="/master">Master</a>
          <a class="dropdown-item" href="/diamond">Diamond</a>
          <a class="dropdown-item" href="/platinum">Platinum</a>
          <a class="dropdown-item" href="/gold">Gold</a>
          <a class="dropdown-item" href="/silver">Silver</a>
          <a class="dropdown-item" href="/bronze">Bronze</a>
        </div>
      </li>
    </ul>
    <div class="form-inline my-0 my-lg-0">

      <% if current_user %>
        <a class="mx-2" href="#" data-toggle="modal" data-target="#modalConfig">
          <%= image_tag 'gear.png', height: 55 %>
        </a>

        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-warning' %>

      <% else %>

        <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-sm btn-success' %>

      <% end %>

    </div>
  </div>
</nav>

<%= render partial: 'layouts/modal_config' if current_user %>
