<!DOCTYPE html>
<html>
  <head>
    <title>Solokill</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <nav class="navbar px-2 py-0 navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="/">Solokill</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/diamond">Diamond</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/silver">Silver</a>
            </li>
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <%= current_user.email %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'ml-1 btn btn-danger' %>
          </div>
        </div>
      </nav>
    <% end %>

    <div id="main-container" class="container">
      <div id="alert-box">
        <% if notice %>
        <p class="notice alert alert-info"><%= notice %></p>
        <% end %>
        <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
