<!DOCTYPE html>
<html>
  <head>
    <title>Solokill</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  </head>

  <body>
    <% if current_user %>
      <nav class="navbar px-2 py-0 navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand mr-2" href="/"><%= image_tag 'logo-sk.png', height: '45' %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link p-0" href="/challenger"><%= image_tag 'challenger.png' %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-0" href="/master"><%= image_tag 'master.png' %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-0" href="/diamond"><%= image_tag 'diamond.png' %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-0" href="/platinum"><%= image_tag 'platinum.png' %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-0" href="/gold"><%= image_tag 'gold.png' %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-0" href="/silver"><%= image_tag 'silver.png' %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-0" href="/bronze"><%= image_tag 'bronze.png' %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link p-0" href="/bronze"></a>
            </li>
          </ul>
          <div class="form-inline my-0 my-lg-0">
            <a class="mx-2" href="#" data-toggle="modal" data-target="#modalConfig">
              <%= image_tag 'gear.png', height: 55 %>
            </a>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-warning' %>
          </div>
        </div>
      </nav>

      <!-- Modal Desvincular -->
      <div class="modal fade" id="modalConfig" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Configurações</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= form_with url: 'home/image' do |f| %>
                <%= f.label :image, 'Foto de perfil' %>
                <%= f.hidden_field :image_cache %>
                <%= f.file_field :image %>
                <%= f.submit 'Mudar foto de perfil', class: 'btn btn-sm btn-primary' %>
              <% end %>

              <hr>

              <%= link_to 'Desvincular Invocador', 'home/verify', method: :delete, class: 'ml-1 btn btn-sm btn-danger' %>
              <span data-toggle="tooltip" data-placement="top" title="Isso fará com que o seu nome de invocador seja desvinculado da sua conta do Solokill.">que?</span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if current_user %>

      <div id="main-container" class="container">
        <div id="alert-box" class="mt-1">
          <% if notice %>
          <p class="notice alert alert-info"><%= notice %></p>
          <% end %>
          <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
          <% end %>
        </div>

        <%= yield %>
      </div>

    <% else %>

      <div id="login-page" class="container-fluid">


        <div class="row">
          <div class="col-sm-6" id="login-box">
            <%= link_to 'sign_in' do %>
              <%= image_tag 'logo-sk.png', height: '45' %>
            <% end %>
            <div id="alert-box" class="mt-1">
              <% if notice %>
              <p class="notice alert alert-info"><%= notice %></p>
              <% end %>
              <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
              <% end %>
            </div>

            <%= yield %>
          </div>
          <div id="ad-side" class="col-sm-6 align-middle">
            <ul class="text-center p-0">
              <li><%= image_tag 'verify.png', height: 50 %> Vincule sua conta do LoL.</li>
              <li><%= image_tag 'badge.png', height: 40 %> Mostre a todos quem você é.</li>
              <li><%= image_tag 'read.png', height: 50 %> Veja o que as pessoas estão falando.</li>
              <li><%= image_tag 'speak.png' %> Entre na discussão!</li>
            </ul>
          </div>
        </div>

      </div>

    <% end %>

  </body>
</html>
